<!DOCTYPE html>
<html>

<body>
    <div class="container-fluid"
        style="background-color:white; font-family: 'Raleway', sans-serif; position:unset;bottom: 0px;">
        <div class="container" style="background-color:white;">
            <div class="row">
                <div class="col-md-6">
                    <h6>The flashcard App</h6>
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <h6>Welcomed by<u><strong>sirmwas</strong></h6>
                </div>
            </div>

        </div>
    </div>
</body>

</html>